SECRET_KEY=production-secret
DEBUG=False
ALLOWED_HOSTS=your-domain.com,EC2_PUBLIC_IP

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/articlehub?retryWrites=true&w=majority
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0